@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4px #bbd0e2;
  background-color: #fff;
  z-index: 99;
}

.main-nav {
  justify-content: space-between;
  padding: 10px 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
  margin-block: auto;
  height: 100px;
  gap: 10px;
}
.search-bar input {
  height: 50%;
  margin-block: auto;
  width: 100%;
  padding-inline: 12px;
  border-radius: 20px;
  border: solid 2px #ebfffc;
  font-family: "Poppins", sans-serif;
}

.search-button {
  margin-block: auto;
  text-align: center;
  padding-block: 12px;
  width: 50px;
  background-color: #ebfffc;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #ebfffc;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .search-button {
    width: 60px;
  }
}
main {
  width: 100%;
  color: #fff;
}
.container {
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
}
.weather {
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, #00feba, #5b548a);
}

.weather-icon {
  margin-block-start: 20px;
  width: 200px;
}
.weather h1 {
  margin-block-start: -40px;
  font-size: 60px;
  font-weight: 500;
}
.weather h2 {
  font-size: 30px;
  font-weight: 300;
}
.details {
  margin: 120px auto 100px auto;
  width: 100%;
  justify-content: space-evenly;
}
.weather-detail-icon {
  width: 50px;
}
.col {
  gap: 10px;
}
.humidity,
.wind {
  margin-top: 20px;
  font-size: 30px;
}
.error {
  display: none;
  color: red;
}
